body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }

.item {
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.item img {
    max-width: 50vh;
    margin-right: 20px;
}


.item:nth-child(2) {
    flex-direction: row-reverse;
}
