.header {
    padding: 15px 0;
    box-shadow: 0px 1.6666666269302368px 8.333333015441895px 0px #00000026;

    .logo {
        height: 95px;
        img {
            min-height: 100%;
            width: auto;
        }

    }
    .header-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .menu {
            ul {
                display: flex;
                li {
                    padding: 0 25px;
                    a {
                        font-weight: 600;
                        padding-bottom: 54px;
                    }
                    &.active {
                        a {
                            color: $primaryColor;
                            border-bottom: 1.667px solid $primaryColor;
                        }
                    }

                    &:hover {
                        @extend .active;
                    }
                }
            }
        }

        .menu-overlay  {
            opacity: 0;
            visibility: hidden;
            transition: 0.4s ease;
            transition-property: opacity, visibility;
        }
        
        .cart-icon {
            padding: 0 25px;
            a {
                position: relative;
                img {
                    width: 25px;
                }
                span {
                    position: absolute;
                    top: -7px;
                    right: -6px;
                    font-size: 1.3rem;
                    background: $secondaryColor;
                    color: #fff;
                    padding: 0 5px;
                    border-radius: 50%;
                }
            }
        }

        .menu-overlay {
            position: fixed;
            inset: 0;
            z-index: 1;
            background: #00000070;
        }

        .search-icon {
            padding-left: 25px;
            img {
                width: 25px;
            }
        }

        input[type="checkbox"] {
            &:checked {
                ~ .menu {
                    translate: 0;
                    z-index: 2;
                }
                ~ .menu-overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .menu-toogle {
        display: none;
    }
}

@media screen and (max-width:991.98px) {
    .header {
        .menu-toogle {
            display: block;
            label {
                font-size: 2rem;
            }
        }

        .header-nav {
            .menu {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                background: $primaryColor;
                min-width: 250px;
                padding: 20px 0;
                translate: -100%;
                transition: translate 0.4s ease;
                ul {
                    display: block;
                    li {
                        a {
                            color: #fff !important;
                            display: block;
                            padding: 10px 0;
                            border: 0 !important;
                        }
                    }
                }
            }
            .search-icon {
                padding-left: 0;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}